<div style="text-align:center">

    <div class="head">RÉSULTAT</div>
    <a style="font-family:Raleway;"> <b>Nombre de points obtenus après le test</b></a><br><br><br><br>
    <a style="font-family:Raleway; font-size: 40px;">{{score}} point(s)</a><br><br>
    <img src="../../assets/check.png" width="150px"/><br><br>

    <a style="font-family:Raleway; font-size: 20px; margin-top: 100px;"> Merci d'avoir utilisé notre application !</a>
</div>
<button class="btnFooter" routerLink='/Home'>RETOUR À L'ACCUEIL</button>