.btn{

    padding: 16px 40px;
    font-family: Raleway;
    font-size: 14px;
    background-color: #f52841!important;
    color: #fff!important;
    font-weight: 500;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    box-shadow:none;
    box-sizing:border-box;
    color:rgb(255, 255, 255);
    float:none;
    font-family:Raleway;
    font-size:14px;
    font-weight:500;
    height:auto;
    line-height:20px;
    padding-bottom:16px;
    padding-left:40px;
    padding-right:40px;
    padding-top:16px;
    text-align:center;
    text-decoration-color:rgb(255, 255, 255);
    text-decoration-line:none;
    text-decoration-style:solid;
    text-size-adjust:100%;
    text-transform:uppercase;
    transition-delay:0s;
    transition-duration:0.3s;transition-property:all;
    transition-timing-function:ease;
    width:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    
}